body {
    color:rgb(132, 196, 216);
    background:powderblue;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px hsl(229, 100%, 50%);
    padding: 20px;
    font-size: 30px;
    color: hsl(229, 100%, 50%);
}

section {
    background: rgb(43, 90, 192);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}  

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 240%;
}

p {
    font-size: 120%;
}