body {
    color:rgb(241, 163, 211);
    background:rgb(202, 24, 110);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px hsl(308, 88%, 48%);
    padding: 20px;
    font-size: 30px;
    color: hsl(332, 96%, 28%);
}

section {
    background: rgb(204, 9, 171);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}  

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 240%;
}

p {
    font-size: 120%;
}

img{
    height:200px
}